.container {
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  width: 100vw;
}
.country-container {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: center;
  align-items: center;
}
.country-info {
  background-color: #ffffff;
  padding: 18px;
}
.each-country {
  border-radius: 7px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.country-name {
  height: 213px;
  width: 320px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.anchor{
  text-decoration: none;
  color: black;
}