<ul class="country-container">
    <div
        *ngFor="let country of countries"
        >
        <div class="each-country">
            <div>
              <img class="country-name" src={{country.flags.png}} alt="" />
            </div>
            <div class="country-info">
              <a class="anchor" routerLink="{{country.name.common}}"><h3> {{country.name.common}}</h3></a>               
                <p>Population: {{country.population}}</p>
                <p>Region: {{country.region}}</p>
                <p>Capital: {{country.capital}}</p>
              </div>
          </div>
        
        </div>
  </ul>
