.countrydetail-page-image {
  height: 50%;
}
.country-detail-page-sub-titile {
  font-weight: 600;
  color: hsl(200, 15%, 8%);
}
.country-detail-page-country-name {
  font-weight: bold;
}
.country-detail-page-container {
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 90vh;
}
.border-countries-style {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.country-detail-page-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 22vh;
  width: 34vw;
}
.country-detail-page-button {
    margin: 20px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 12%;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.each-country-detail-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 17px;
}
.each-country{
    list-style-type: none;
}
