<ul class="country-container">
    <li class="each-country"
        *ngFor="let each of countries"
        >
        <div class= country-detail-page-container>
        
            <button routerLink="" class=country-detail-page-button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              className="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
            Back
          </button>
          
          <div class="each-country-detail-page">
            <div>
              <img class="countrydetail-page-image" src={{each.flags.png}} alt="" />
            </div>
            <div class=country-info>
              <div>
                <h3 class="country-detail-page-country-name">{{each.name.common}}</h3>
              </div>
              <div class="country-detail-page-info">
                <p> <span class=country-detail-page-sub-titile>Native name: </span>{{each.name.official}}</p>
                <p> <span class=country-detail-page-sub-titile>Population: </span> {{each.population}}</p>
                <p> <span class=country-detail-page-sub-titile>Region: </span>{{each.region}}</p>
                <p> <span class=country-detail-page-sub-titile>Sub Region: </span>{{each.subregion}}</p>
                <p> <span class=country-detail-page-sub-titile>Capital: </span>{{each.capital}}</p>
                <p> <span class=country-detail-page-sub-titile>Top Level Domain: </span>{{each.tld}}</p>
                <!-- <p> <span class=country-detail-page-sub-titile>Currencies: </span>{ Object.values(each.currencies)[0].name}</p> -->
                <!-- <div className="d-flex">
                <span class=country-detail-page-sub-titile>Languages:</span>
                  {Object.values(each.languages).map((each) => {
                    return <p>{{each}}</p>;
                  })}
                </div> -->
              </div>
              <div >
              <span class=country-detail-page-sub-titile >Border Countries:</span>
            
                  <button *ngFor="let each of each.borders">{{each}}</button>
              </div>
            </div>
          </div>
        </div>
        
    </li>
  </ul>

